@charset "UTF-8";

@font-face {
    font-family: 'Avenger';
    src: url('Font/Avenger/AVENGEANCE\ HEROIC\ AVENGER.otf') format('Opentype'),url('Font/Avenger/AVENGEANCE\ HEROIC\ AVENGER.ttf') format('Truetype');
}
@font-face {
    font-family: 'Tesla';
    src: url('Font/Tesla/TESLA.ttf') format('Truetype');
}
@font-face {
    font-family: 'Star-Wars';
    src: url('Font/Star-Wars/soloist1.ttf') format('Truetype');
}
@font-face {
    font-family: 'Mario-world-animacao';
    src: url('Font/super_mario_world_mario/smw.ttf') format('Truetype');
}
@font-face {
    font-family: 'Mario-world';
    src: url('Font/super_mario_world/Super-Mario-World.ttf') format('Truetype');
}
@font-face {
    font-family: 'Viking';
    src: url('Font/viking/VIKING-N.TTF') format('Truetype');
}
@font-face {
    font-family: 'ghost';
    src: url('Font/i_know_a_ghost/iknowaghost.ttf') format('Truetype');
}