@charset "UTF-8";

body{
    background-color: white;
    margin: auto;
    
}
div{
    background-color: black;
    position: absolute;
    padding-bottom: 10%;
    padding-right: 100%;
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 78px;
    text-align: center;
    margin: 25px;
}
.baixo{
    background-color: black;
    position: absolute;
    padding-bottom: 3%;
    padding-right: 100%;
}